html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
}

body{
	margin: 0;
	padding: 0;
}

h2{
	font-size: 48px;
	text-transform:uppercase;	
	font-family: 'Oswald',sans-serif;
    letter-spacing: 2px;
	font-weight:400;
}

p{
	color: #FFFFFF;
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 24px;
	font-family:Tahoma, Geneva, sans-serif;
	
}

a:link, a:visited{
	color: #812408;
	text-decoration:underline;
}

a:hover{
	text-decoration:none;
}

/* Bottom Bar */

#bottom-bar{
	background-color: #812408;
    bottom: 0;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header{
	width: 960px;
	height: 50px;
	margin: 0 auto;
	background-image:url(images/header-logo.png);
	background-repeat:no-repeat;
}

header h1{
	color: #FFFFFF;
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size: 31px;
    letter-spacing: 2px;
    margin-left: 50px;
    margin-top: 2px;
    text-transform: uppercase;
	font-weight: 400;
	display:block;
}

header h2{
	float: right;
	font-size: 13px;
	color: #FFFFFF;
	text-transform:uppercase;
	margin-top: 16px;
	font-family:Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
}


/* Content */

.content-wrap{
    height: 550px;
	/*background-color:#eee;*/
    left: 50%;
    margin-left: -480px;
    margin-top: -300px;
    position: absolute;
    top: 50%;
    width: 960px;
}


/* Main Image */

#main-image{
	width: 100%;
	height:100%;
	margin: 0;
	background-image:url(images/background.jpg);
	background-position:center;
}

#main-logo{
	width: 750px;
	height:180px;
	top: 50%;
	margin-top: -90px;
	left: 50%;
	margin-left: -375px;
	position:absolute;
	cursor:pointer;
}


/* Gallery Section */

#gallery .jspTrack{
	background-color:#EEEEEE;
	height: 426px !important;
}

#gallery .jspDragBottom{
	background-image: url("images/gallery-trac.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    bottom: 3px;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
	opacity: .4;
}

#gallery .jspDragTop{
	background-image: url("images/gallery-trac-top.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    top: 3px;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
	opacity: .4;
}

#gallery .jspDrag{
	background:#cccccc;
}

#gallery .scroll-pane{
	height: 443px;
	border-top: 1px dashed #dfe8ec;
	border-bottom: 1px dashed #dfe8ec;
}

#gallery .jspContainer{
	margin-top: 10px;
	margin-bottom: 20px;
}

#gallery h2{
	color: #4e84a6;
	display:block;
	text-align:center;
	margin-bottom: 20px;
}

.entry{
    float: left;
    height: 600px;
    margin: 0 5px 8px;
    width: 305px;
	position:relative;

}

.title{
	background-image: url("images/title-overlay.png");
    bottom: 0;
    color: #FFFFFF;
    font-size: 10px;
    height: 7px;
    padding: 5px 10px 10px;
    position: absolute;
    width: 285px;
    z-index: 999;
	cursor:pointer;
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Montserrat', Arial, sans-serif;
}

/* About Section */

#about .scroll-pane{
	width: 700px;
}

#about .jspTrack{
	background-color: #7ea2b3;
}

#about .jspDrag{
	background: #FFFFFF;
	opacity: .3;
}

#about .jspDragBottom{
	background-image: url("images/gallery-trac.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    bottom: 3px;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
	opacity: .7;
}

#about .jspDragTop{
	background-image: url("images/gallery-trac-top.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    top: 3px;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
	opacity: .7;
}

#about h2{
	margin-bottom: 25px;
	font-size: 36px;
}

#about p{
	margin-right: 20px;
}

#about blockquote p{
	font-size: 32px;
	text-transform:uppercase;
    font-family: 'Oswald',sans-serif;
	line-height: 40px;
	color: #9eb9c6;
	letter-spacing: 4px;
	font-weight: 400;
}

#about blockquote p span{
	font-weight:300;
}

#about img.signature{
	top: 100%;
    left: 196px;
    opacity: 0.2;
    position: absolute;
}

/* Exhibition Section */
#exhibition h2{
	float: left;
	margin-bottom: 20px;
}

#exhibition p{
	margin-right: 50px;
}

#exhibition .scroll-pane{
	width: 600px;
	float: left;
	height: 465px;
	border-top: 1px dashed #c46f41;
	border-bottom: 1px dashed #c46f41;
}

#exhibition .jspContainer{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 426px !important;
}

#exhibition .jspDragBottom{
	background-image: url("images/gallery-trac.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    bottom: 3px;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
	opacity: .7;
}

#exhibition .jspDragTop{
	background-image: url("images/gallery-trac-top.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    top: 3px;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
	opacity: .7;
}

#exhibition .jspTrack{
	background-color: #c46f41;
}

#exhibition .jspDrag{
	background: #FFFFFF;
	opacity: .3;
}

#exhibition img.float-l{
	margin-right: 50px;
}

img.float-l{
	float: left;
	margin-right: 25px;
	margin-top: 7px;
}

/* Contact Section */

#contact h2{
	color: #FFFFFF;
	margin-bottom: 20px;
}

#contact a:link, #contact a:visited{
	color: #FFFFFF;
	text-decoration:none;
}

#contact a:hover{
	text-decoration:underline;
}

#contact .info p{
	font-size: 10px;
	color: #999685;
	line-height: normal;
}

#contact .info a:link, #contact .info a:visited{
	color: #999685;
}

/* Form Styles
--------------------------------------------- */

#form{
	float: left;
	width: 600px;
	height: 500px;
	margin-right: 100px;
}

form p{color:#ffffff; text-transform:uppercase; font-size: 12px; margin-bottom: 20px; line-height:normal;}
form p span{ color: #4c4937;}

div.wpcf7{ width: 100%; display:block; }

input.wpcf7-text { padding: 10px; width: 95%; font-size: 16px; background-color: #999685; border:none; margin-top: 10px;}

textarea.wpcf7-textarea { height: 140px; padding: 10px; width: 95%; font-size: 16px; background-color: #999685; border:none;  margin-top: 10px;}

span.wpcf7-not-valid-tip{ display: none;
background-color:#6D684F !important; border: none !important; color: #ffffff; left:auto !important; top: auto !important; width: 181px !important; padding: 0 15px !important; position:inherit !important;}

.wpcf7-validation-errors{ background-color:#6D684F !important; color: #FFFFFF !important; border: none !important; margin-left: 0px !important; margin: 0 !important}

.wpcf7-mail-sent-ok{ background-color:#6D684F !important; color: #FFFFFF !important; border: none !important; margin-left: 0px !important; margin: 0 !important}

input:focus, textarea:focus { background-color: #FFFFFF;}

input.wpcf7-submit{    background: none repeat scroll 0 0 #5e8ba0; border: medium none; color: #FFFFFF; font-size: 14px; padding: 10px 20px; text-transform: uppercase; }

.slider-wrapper { float: left;}

/* Begin Slit Slider Styles (http://tympanus.net/codrops) */
/* Navigation arrows */

.sl-slider nav span {
	position: fixed;
	z-index: 2000;
	top: 50%;
	width: 100px;
	height: 200px;
	margin-top: -100px;
	cursor: pointer;
	text-indent:-9000px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.sl-slider nav span:hover {
	border-color: rgba(150,150,150,0.9);
}

.sl-slider nav span.sl-prev {
	right: 0px;
	border-right: none;
	border-top: none;
	background-image:url(images/arrow-right.png);
	opacity: .5;

}

.sl-slider nav span.sl-next {
	left: 0px;
	border-left: none;
	border-bottom: none;
	background-image:url(images/arrow-left.png);
	opacity: .5;
}

/* Slide wrapper and slides */

.sl-slide, .sl-slides-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
} 

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/cuts */

.sl-content-cut {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
}

/* Horizontal cut */

.sl-slide-horizontal .sl-content-cut {
	width: 100%;
	height: 50%;
	left: -200px;
}

.sl-slide-horizontal .sl-content-cut:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-cut:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical cut */

.sl-slide-vertical .sl-content-cut {
	width: 50%;
	height: 100%;
	top: -200px;
}

.sl-slide-vertical .sl-content-cut:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-cut:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Dark slides */
.sl-slide-dark .sl-content-cut,
.sl-slide-dark .sl-content {
	background: #FFFFFF;
}

.sl-slide-dark [data-icon]:after,
.sl-slide-dark.sl-slide h2 {
	color: #fff;
}

.sl-slide-dark.sl-slide blockquote:before {
	color: #222;
}

/* Color 1 slides */
.sl-slide-color-1 .sl-content-cut,
.sl-slide-color-1 .sl-content {
	background: #5e8ba1;
}

.sl-slide-color-1 [data-icon]:after {
	color: #e6a6bb;
	text-shadow: 0 0 1px #e6a6bb;
	box-shadow: inset 0 0 0 10px #e6a6bb;
}

.sl-slide-color-1.sl-slide h2,
.sl-slide-color-1.sl-slide blockquote{
	color: #fff;
}

.sl-slide-color-1.sl-slide blockquote:before {
	color: #7b0c31;
}

/* Color 2 slides */
.sl-slide-color-2 .sl-content-cut,
.sl-slide-color-2 .sl-content {
	background: #b54b11;
}

.sl-slide-color-2 [data-icon]:after {
	text-shadow: 0 0 1px #8bc7dd;
	color: #8bc7dd;
}

.sl-slide-color-2.sl-slide h2,
.sl-slide-color-2.sl-slide blockquote{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sl-slide-color-2.sl-slide blockquote:before {
	color: #8bc7dd;
}

/* Color 3 slides */
.sl-slide-color-3 .sl-content-cut,
.sl-slide-color-3 .sl-content {
	background: #6d684f;
}

.sl-slide-color-3.sl-slide h2,
.sl-slide-color-3.sl-slide blockquote{
	color: #000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.sl-slide-color-3.sl-slide blockquote:before {
	color: #ecd82c;
}

/* Animations for elements */


.sl-trans-elems h2{
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote, .sl-trans-elems #main-logo, .sl-trans-elems p{
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	-moz-animation: fadeIn 0.5s linear 0.5s both;
	-o-animation: fadeIn 0.5s linear 0.5s both;
	-ms-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.5s linear 0.5s both;
}
@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-webkit-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}


.sl-trans-back-elems h2{
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote{
	-webkit-animation: fadeOut 1s linear both;
	-moz-animation: fadeOut 1s linear both;
	-o-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}
@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}


/* Scroll Bars */


.scroll-pane
{
	width: 100%;
	height: 463px;
	overflow: auto;
}

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #999999;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

